h1, h2, p{
  text-align: center;
}
body{
  background-image: url(/Image/pexels-nikolay-osmachko-230477.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  
}
.teaMenu{
  width: 80%;
  background-color: orangered;
  margin: 0 auto;
}