h1, h2, p{
  text-align: center;
}
body{
  background-image: url(/Image/pexels-nikolay-osmachko-230477.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: sans-serif;
  color: rgb(203, 236, 236);
}
.teaMenu{
  width: 80%;
  background-color: rgba(192, 129, 106, .5); 
  margin: 0 auto;
  border-radius: 15px;
  padding: 15px 10px;
}
.tea-Item{
  background-color: red;
  display: inline-block;
}
.tea-Flavor{
  text-align: left;
}
.tea-Price{
  text-align: right;
}










/* -------------------------TABLE--------------------- */
