h1, h2, p{
  text-align: center;
}
body{
  background-image: url(/Image/pexels-nikolay-osmachko-230477.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'roboto', sans-serif;
  color: rgb(203, 236, 236);
}
.teaMenu{
  width: 80%;
  background-color: rgba(192, 129, 106, .5); 
  margin: 0 auto;
  border-radius: 15px;
}
.tea-Item p{
  /* background-color: red; */
  display: inline-block;
}
.tea-Flavor, .tea-Collection{
  text-align: left;
  width: 75%;
  background-color: rgb(153, 8, 8);
}
.tea-Price, .collection-Price{
  text-align: right;
  width: 25%;
  background-color: rgb(5, 5, 133);
}














/* -------------------------TABLE--------------------- */
